.footer-container {
    padding: 0 4%;
    border-top: 2px solid #3f3f3f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer-container > p {
    color: #b5b5b5;
    font-size: 14px;
}

.info-buttons-dark {
    display: flex;
    color: #b5b5b5;
}

.info-buttons-light {
    display: flex;
    color: #9e9c9c;
}

.developed {
    flex: 3;
}

.copyright {
    flex: 3;
}

.info-buttons-dark > a {
    height: 40px;
    width: 40px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    color: inherit;
    background-color: #3f3f3f;
}

.info-buttons-light > a {
    height: 40px;
    width: 40px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    color: inherit;
    background-color: #f4f0f0;
}