* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #FFF;
}

.main-container {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background: #242424;
}